<section class="single_name">
    The chosen one is $name !
</section>

<h1> Leftover: </h1>
<section class="last_group">
    #foreach ($memberLeft in $everyone)
    <div class="member">
        <p><a>$memberLeft</a></p>
    </div>
    #end
</section>